GVPEAI_Infinity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ActivateUserID_847001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalTxnDtTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUserID_847001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateUserID_847001Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIDReadOut_E00011">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID_In" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalTxnDtTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID_Out" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIDReadOut_E00011Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIDReadOut_E00011Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivateUserID_847001SoapIn">
    <wsdl:part name="parameters" element="tns:ActivateUserID_847001" />
  </wsdl:message>
  <wsdl:message name="ActivateUserID_847001SoapOut">
    <wsdl:part name="parameters" element="tns:ActivateUserID_847001Response" />
  </wsdl:message>
  <wsdl:message name="UserIDReadOut_E00011SoapIn">
    <wsdl:part name="parameters" element="tns:UserIDReadOut_E00011" />
  </wsdl:message>
  <wsdl:message name="UserIDReadOut_E00011SoapOut">
    <wsdl:part name="parameters" element="tns:UserIDReadOut_E00011Response" />
  </wsdl:message>
  <wsdl:portType name="GVPEAI_InfinitySoap">
    <wsdl:operation name="ActivateUserID_847001">
      <wsdl:input message="tns:ActivateUserID_847001SoapIn" />
      <wsdl:output message="tns:ActivateUserID_847001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIDReadOut_E00011">
      <wsdl:input message="tns:UserIDReadOut_E00011SoapIn" />
      <wsdl:output message="tns:UserIDReadOut_E00011SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GVPEAI_InfinitySoap" type="tns:GVPEAI_InfinitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateUserID_847001">
      <soap:operation soapAction="http://tempuri.org/ActivateUserID_847001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIDReadOut_E00011">
      <soap:operation soapAction="http://tempuri.org/UserIDReadOut_E00011" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GVPEAI_InfinitySoap12" type="tns:GVPEAI_InfinitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateUserID_847001">
      <soap12:operation soapAction="http://tempuri.org/ActivateUserID_847001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIDReadOut_E00011">
      <soap12:operation soapAction="http://tempuri.org/UserIDReadOut_E00011" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GVPEAI_Infinity">
    <wsdl:port name="GVPEAI_InfinitySoap" binding="tns:GVPEAI_InfinitySoap">
      <soap:address location="http://10.52.90.45:8089/GVPEAI_Infinity_Anthos/GVPEAI_Infinity.asmx" />
    </wsdl:port>
    <wsdl:port name="GVPEAI_InfinitySoap12" binding="tns:GVPEAI_InfinitySoap12">
      <soap12:address location="http://10.52.90.45:8089/GVPEAI_Infinity_Anthos/GVPEAI_Infinity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>