GVPEAI_Finone_Anthos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EMIDetails_003001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalTxnDtTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoanNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EMIDetails_003001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EMIDetails_003001Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EMIAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastEMIRcptDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMIDue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BalanceTenure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DisbStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITCertFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SanctionAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SanctionDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastDisbDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstDisbDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastConvDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastPaymentDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DisbursedAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Statement_003006">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalTxnDtTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoanNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Statement_003006Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Statement_003006Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutstandingBalance_003013">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgreementNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutstandingBalance_003013Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OutstandingBalance_003013Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PRIN_OS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutstandingBalance_003014">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgreementNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutstandingBalance_003014Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OutstandingBalance_003014Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PRIN_OS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EMIDetails_003001SoapIn">
    <wsdl:part name="parameters" element="tns:EMIDetails_003001" />
  </wsdl:message>
  <wsdl:message name="EMIDetails_003001SoapOut">
    <wsdl:part name="parameters" element="tns:EMIDetails_003001Response" />
  </wsdl:message>
  <wsdl:message name="Statement_003006SoapIn">
    <wsdl:part name="parameters" element="tns:Statement_003006" />
  </wsdl:message>
  <wsdl:message name="Statement_003006SoapOut">
    <wsdl:part name="parameters" element="tns:Statement_003006Response" />
  </wsdl:message>
  <wsdl:message name="OutstandingBalance_003013SoapIn">
    <wsdl:part name="parameters" element="tns:OutstandingBalance_003013" />
  </wsdl:message>
  <wsdl:message name="OutstandingBalance_003013SoapOut">
    <wsdl:part name="parameters" element="tns:OutstandingBalance_003013Response" />
  </wsdl:message>
  <wsdl:message name="OutstandingBalance_003014SoapIn">
    <wsdl:part name="parameters" element="tns:OutstandingBalance_003014" />
  </wsdl:message>
  <wsdl:message name="OutstandingBalance_003014SoapOut">
    <wsdl:part name="parameters" element="tns:OutstandingBalance_003014Response" />
  </wsdl:message>
  <wsdl:portType name="GVPEAI_FinoneSoap">
    <wsdl:operation name="EMIDetails_003001">
      <wsdl:input message="tns:EMIDetails_003001SoapIn" />
      <wsdl:output message="tns:EMIDetails_003001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Statement_003006">
      <wsdl:input message="tns:Statement_003006SoapIn" />
      <wsdl:output message="tns:Statement_003006SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003013">
      <wsdl:input message="tns:OutstandingBalance_003013SoapIn" />
      <wsdl:output message="tns:OutstandingBalance_003013SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003014">
      <wsdl:input message="tns:OutstandingBalance_003014SoapIn" />
      <wsdl:output message="tns:OutstandingBalance_003014SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GVPEAI_FinoneHttpGet" />
  <wsdl:portType name="GVPEAI_FinoneHttpPost" />
  <wsdl:binding name="GVPEAI_FinoneSoap" type="tns:GVPEAI_FinoneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EMIDetails_003001">
      <soap:operation soapAction="http://tempuri.org/EMIDetails_003001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Statement_003006">
      <soap:operation soapAction="http://tempuri.org/Statement_003006" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003013">
      <soap:operation soapAction="http://tempuri.org/OutstandingBalance_003013" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003014">
      <soap:operation soapAction="http://tempuri.org/OutstandingBalance_003014" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GVPEAI_FinoneSoap12" type="tns:GVPEAI_FinoneSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EMIDetails_003001">
      <soap12:operation soapAction="http://tempuri.org/EMIDetails_003001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Statement_003006">
      <soap12:operation soapAction="http://tempuri.org/Statement_003006" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003013">
      <soap12:operation soapAction="http://tempuri.org/OutstandingBalance_003013" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingBalance_003014">
      <soap12:operation soapAction="http://tempuri.org/OutstandingBalance_003014" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GVPEAI_FinoneHttpGet" type="tns:GVPEAI_FinoneHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="GVPEAI_FinoneHttpPost" type="tns:GVPEAI_FinoneHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="GVPEAI_Finone">
    <wsdl:port name="GVPEAI_FinoneSoap" binding="tns:GVPEAI_FinoneSoap">
      <soap:address location="http://10.52.90.45:8089/GVPEAI_Finone_Anthos/GVPEAI_Finone.asmx" />
    </wsdl:port>
    <wsdl:port name="GVPEAI_FinoneSoap12" binding="tns:GVPEAI_FinoneSoap12">
      <soap12:address location="http://10.52.90.45:8089/GVPEAI_Finone_Anthos/GVPEAI_Finone.asmx" />
    </wsdl:port>
    <wsdl:port name="GVPEAI_FinoneHttpGet" binding="tns:GVPEAI_FinoneHttpGet">
      <http:address location="http://10.52.90.45:8089/GVPEAI_Finone_Anthos/GVPEAI_Finone.asmx" />
    </wsdl:port>
    <wsdl:port name="GVPEAI_FinoneHttpPost" binding="tns:GVPEAI_FinoneHttpPost">
      <http:address location="http://10.52.90.45:8089/GVPEAI_Finone_Anthos/GVPEAI_Finone.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>