OutboundWS-InsertRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="unqualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_Info" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date_CM_hd_CLD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeofCall" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobilenumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCustomerInfoResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resultcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerInfo_Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_Info" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date_CM_hd_CLD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeofCall" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobilenumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dummy5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerInfo_TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCustomerInfo_TestResult" type="tns:PushRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PushRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetCustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="SetCustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustomerInfo_TestSoapIn">
    <wsdl:part name="parameters" element="tns:SetCustomerInfo_Test" />
  </wsdl:message>
  <wsdl:message name="SetCustomerInfo_TestSoapOut">
    <wsdl:part name="parameters" element="tns:SetCustomerInfo_TestResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertRequestSoap">
    <wsdl:operation name="SetCustomerInfo">
      <wsdl:input message="tns:SetCustomerInfoSoapIn" />
      <wsdl:output message="tns:SetCustomerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfo_Test">
      <wsdl:input message="tns:SetCustomerInfo_TestSoapIn" />
      <wsdl:output message="tns:SetCustomerInfo_TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertRequestSoap" type="tns:InsertRequestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/SetCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfo_Test">
      <soap:operation soapAction="http://tempuri.org/SetCustomerInfo_Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertRequestSoap12" type="tns:InsertRequestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/SetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfo_Test">
      <soap12:operation soapAction="http://tempuri.org/SetCustomerInfo_Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertRequest">
    <wsdl:port name="InsertRequestSoap" binding="tns:InsertRequestSoap">
      <soap:address location="https://10.26.16.81:444/OutboundWS/InsertRequest.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertRequestSoap12" binding="tns:InsertRequestSoap12">
      <soap12:address location="https://10.26.16.81:444/OutboundWS/InsertRequest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>